@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Nunito:wght@300&display=swap');

h1{
  color: rgb(49, 94, 162);
}


.codeblock {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  color: black;
}

a{
  text-decoration: none;
  font-size: 15px;
  font-family: 'Assistant', sans-serif;
  
}

.blockList{
  justify-content: center;
  align-items: center;
  display: flex;
}

.blocks {
  justify-content: center;
  align-items: center;
  margin: 3rem;
  border: 0.5px solid rgb(49, 94, 162) ;
  border-radius: 10px;

}


